<div layout="row" layout-align="start center">
    <div layout="row" layout-align="start center" flex>
        <md-button id="navigation-toggle" class="md-icon-button" ng-click="vm.toggleSidenav('navigation')"
                   hide-gt-sm aria-label="Toggle navigation" translate
                   translate-attr-aria-label="TOOLBAR.TOGGLE_NAVIGATION">
            <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
        </md-button>

       <div class="ph-16 h3 secondary-text">Atomic Burger</div>

        <md-progress-circular id="toolbar-progress" ng-if="$root.loadingProgress" class="md-accent"
                              md-mode="indeterminate" md-diameter="64">
        </md-progress-circular>
    </div>

    <div layout="row" layout-align="start center" >

        <md-button id="quick-panel-toggle" class="md-icon-button" ng-click="vm.toggleSidenav('quick-panel')"
                   aria-label="Toggle quick panel" translate translate-attr-aria-label="TOOLBAR.TOGGLE_QUICK_PANEL">

            <md-icon md-font-icon="icon-bullhorn" class="s34 icon blue-500-fg"></md-icon>
        </md-button>

        <md-button id="quick-panel-toggle" class="md-icon-button" ng-click="vm.toggleSidenav('quick-panel')"
                   aria-label="Toggle quick panel" translate translate-attr-aria-label="TOOLBAR.TOGGLE_QUICK_PANEL">
            <md-icon md-font-icon="icon-message" class="icon blue-500-fg"></md-icon>
        </md-button>
        <div class="toolbar-separator"></div>

        <md-button id="quick-panel-toggle" class="md-icon-button" ng-click="vm.toggleSidenav('quick-panel')"
                   aria-label="Toggle quick panel" translate translate-attr-aria-label="TOOLBAR.TOGGLE_QUICK_PANEL">
            <div class="md-button-badge">5</div>
            <md-icon md-font-icon="icon-clock" class="icon blue-500-fg"></md-icon>
        </md-button>
    </div>
</div>