<div id="dashboard" class="page-layout simple" layout="row">

    <!-- CENTER -->
    <div class="center" flex ms-scroll>



        <!-- CONTENT -->
        <div class="content">


            <!-- WIDGET GROUP -->
            <div class="widget-group" layout="row" flex="100" layout-wrap>

                <!-- WIDGET 7 -->
                <ms-widget layout="column" flex="100" flex-gt-sm="50">

                    <!-- Front -->
                    <ms-widget-front class="white-bg">

                        <div class="ph-16 border-bottom" layout="row" layout-align="space-between center">
                            <div class="h3 pv-16">{{vm.widget7.title}}</div>

                        </div>

                        <div class="p-16" layout="row" layout-align="space-between center"
                             ng-repeat="event in vm.widget7.activity">
                            <div>
                                <div class="h3">{{type}}</div>
                                <div>
                                    <span class="secondary-text">{{event.type}}</span>
                                    <span ng-if="event.location">{{event.type}}</span>
                                </div>
                            </div>

                        </div>

                    </ms-widget-front>
                    <!-- / Front -->

                </ms-widget>
                <!-- / WIDGET 7 -->

            </div>
            <!-- / WIDGET GROUP -->


        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->



</div>