.avatar {
  font-weight : 300;
}

.md-button-badge {
  background-color : red;
  padding-top      : 0px;
  width            : 24px;
  height           : 24px;
  border           : 2px solid #FFF;
  border-radius    : 12px;
  position         : absolute;
  right            : 10px;
  top              : 8px;
  color            : #FFF;
  font-weight      : 400;
  font-size        : 10px;
}

