
md-card {
  @each $colorName, $hexValue in $employeeFileTagsMap {
    &.#{$colorName}{
      border-left:3px solid $hexValue;
    }
  }
}

md-option {
  .tag {
    min-width            : 16px !important;
    min-height           : 16px !important;
    width:16px !important;
    height:16px !important;
    border-radius    : 8px;
    background-color: #CCC;
    @each $colorName, $hexValue in $employeeFileTagsMap {
      &.tag-#{$colorName} {
        background-color : $hexValue !important;
      }
    }
  }
}

md-select {
  .md-select-value {
    border     : none !important;
    box-sizing : border-box;
    padding    : 0;
    .tag {
      min-width            : 16px !important;
      min-height           : 16px !important;
      width:16px !important;
      height:16px !important;
      border-radius    : 8px;
      background-color: #CCC;
      @each $colorName, $hexValue in $employeeFileTagsMap {
        &.tag-#{$colorName} {
          background-color : $hexValue !important;
        }
      }
    }
  }
}